/* base style from https://oaklang.org/ */
/* modified for usecase accordingly */

:root {
  --font-sans: "IBM Plex Sans", system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", "Menlo", monospace;
  --primary-bg: #fdfeff;
  --primary-text: #111111;
  --secondary-bg: #f1f1f8;
  --secondary-text: #9b9b9b;
  --underline-bg: #aaafb5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #191815;
    --primary-text: rgba(166, 166, 166, 1);
    --secondary-bg: #333;
    --secondary-text: #a4a7a9;
    --hover-bg: #474c50;
    --active-bg: #626569;
    --underline-bg: #6d7176;
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: var(--font-sans);
  color: var(--primary-text);
  background: var(--primary-bg);

  border-bottom: 8px solid #333;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
}

a {
  color: var(--primary-text);
}

.container {
  max-width: 96ch;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  line-height: 1.5em;
  color: var(--primary-text);
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  font-weight: normal;
}

h1 {
  margin-top: 1em;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p,
li {
  line-height: 1.5em;
  margin: 1em 0;
  max-width: 64ch;
}

p img.blend-multiply {
  mix-blend-mode: multiply;
}

/* HEADER */

header a {
  text-decoration: none;
  font-size: 1.125em;
}

header a:hover {
  text-decoration: underline;
}

header .overlay,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

header {
  background: var(--primary-bg);
  height: 100px;
}

nav {
  gap: 1.5ch;
}

nav a {
  font-weight: normal;
  white-space: nowrap;
}

/* ARTICLE */

main {
  overflow: hidden;
}

details {
  margin: 1em 0;
}

summary {
  cursor: pointer;
}

summary > h2,
summary > h3,
summary > h4 {
  display: inline;
  margin-left: 8px;
}

table a,
article p a,
article li a {
  text-decoration-color: var(--underline-bg);
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
  transition: text-decoration-color 0.2s;
}

table a:hover,
article p a:hover,
article li a:hover {
  text-decoration-color: var(--secondary-text);
}

p img {
  width: 100vw;
  max-width: unset;
  position: relative;
  top: 0;
  left: -16px;
}

pre,
code,
kbd {
  font-family: var(--font-mono);
  tab-size: 4;
}

pre {
  display: block;
  margin: 1.5em 0;
  border-radius: 6px;
  background: var(--secondary-bg);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  display: flex;
  flex-direction: row;
}

pre > code {
  flex-shrink: 0;
  display: block;
  padding: 1em;
  font-size: calc(1em - 2px);
  -webkit-text-size-adjust: none;
}

code,
kbd {
  background: var(--secondary-bg);
}

h1 code,
h2 code,
h3 code,
h4 code,
p code,
p kbd,
li code,
li kbd {
  padding: 3px 5px;
  border-radius: 4px;
}

blockquote {
  font-style: italic;
}

blockquote em,
blockquote pre {
  font-style: normal;
}
